<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'over'" fixedInViewport>
    <mat-toolbar>{{ auth.user$ | async }}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.close()">
        <mat-icon>close</mat-icon>Close Menu</a
      >
      <a
        mat-list-item
        [href]="homePage"
        target="_blank"
        (click)="sidenav.close()"
      >
        <mat-icon>home</mat-icon>Home Page</a
      >
      <a
        mat-list-item
        [href]="gitHub"
        target="_blank"
        (click)="sidenav.close()"
      >
        <mat-icon>settings_ethernet</mat-icon>GitHub</a
      >
      <a
        *ngIf="!(auth.authState$ | async)"
        mat-list-item
        (click)="sidenav.close(); auth.LogIn()"
      >
        <mat-icon>perm_identity</mat-icon> Log In</a
      >
      <a
        *ngIf="auth.authState$ | async"
        mat-list-item
        (click)="sidenav.close(); auth.LogOut()"
      >
        <mat-icon>perm_identity</mat-icon> Log Out</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="menu-title">Pokemon Cards</span>
      <span class="menu-user"
        >Welcome {{ ((auth.user$ | async)?.split(" "))[0] }}
      </span>

      <button
        class="login-button"
        *ngIf="!(auth.authState$ | async)"
        mat-flat-button
        color="primary"
        (click)="auth.LogIn()"
      >
        Log In
      </button>

      <button
        class="login-button"
        *ngIf="auth.authState$ | async"
        mat-flat-button
        color="primary"
        (click)="auth.LogOut()"
      >
        Log Out
      </button>
    </mat-toolbar>

    <!-- TRANSCLUSION -->
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
