/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #303030;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.main-container {
  display: grid;
  min-height: 100%;
  grid-template-rows: 1fr auto;
}

.mat-form-field-infix {
  width: auto !important;
}
